@font-face {
    font-family: "iconfont"; /* Project id 2393286 */
    src: url('//at.alicdn.com/t/font_2393286_5r487amcbib.woff2?t=1627801624270') format('woff2'),
    url('//at.alicdn.com/t/font_2393286_5r487amcbib.woff?t=1627801624270') format('woff'),
    url('//at.alicdn.com/t/font_2393286_5r487amcbib.ttf?t=1627801624270') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
    content: "\e60d";
}

.icon-duihao:before {
    content: "\e614";
}

.icon-weibiaoti2fuzhi13:before {
    content: "\e62a";
}

.icon-daifahuo:before {
    content: "\e648";
}

.icon-pingjia:before {
    content: "\e621";
}

.icon-shouji:before {
    content: "\e608";
}

.icon-daifahuo1:before {
    content: "\e707";
}

.icon-lishiliulan:before {
    content: "\e609";
}

.icon-shangpinshoucang:before {
    content: "\e60b";
}

.icon-shizhong:before {
    content: "\e60c";
}

.icon-daifukuan:before {
    content: "\e611";
}

.icon-dizhi1:before {
    content: "\e616";
}

.icon-shezhi:before {
    content: "\e7b5";
}

.icon-youjiantou:before {
    content: "\e64c";
}

.icon-icon_collect:before {
    content: "\e606";
}

.icon-zujian-icon-32:before {
    content: "\e605";
}

.icon-xiajiantou:before {
    content: "\e615";
}

.icon-caret-up:before {
    content: "\eb21";
}

.icon-safe:before {
    content: "\e613";
}

.icon-sousuo:before {
    content: "\e639";
}

.icon-xiangji:before {
    content: "\e74e";
}

.icon-fenlei:before {
    content: "\e6b8";
}

.icon-gerenzhongxin-jihuo:before {
    content: "\e607";
}

.icon-dianshizhiboguankanshipinbofangmeiti:before {
    content: "\e60a";
}

.icon-index-copy:before {
    content: "\e622";
}

.icon-liaotian:before {
    content: "\e61c";
}

.icon-down:before {
    content: "\e601";
}

.icon-left:before {
    content: "\e602";
}

.icon-left1:before {
    content: "\e603";
}

.icon-right-copy:before {
    content: "\e604";
}

.icon-right:before {
    content: "\e600";
}
